
@font-face {
    font-family: video game;
    src: url("gameplay/Gameplay.ttf");
  }

/* font for the "breakfast meal
*/
@font-face {
    font-family: meal;
    src: url("arial-rounded-mt-std-bold/Arial Rounded MT Std Bold.otf");
  }
  

body{
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
    background-image: url("New folder/yellow2.jpg"); 
}

/* common text
*/
*{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.navigation {
    background-color:#C8E5F2;
    padding: 2%;
    margin: 0;
    text-align: center;
    border-radius: 10px;
}

button {
    border: 2px solid darkblue;
    background-color: rgb(194, 237, 255);
    color: rgb(255, 243, 150);
    -webkit-text-stroke: 1px darkblue;
    padding: 14px 28px;
    font-size: 20px;
    font-weight: 900;
    border-radius: 10px;
}

button:hover {
    background-color: azure;
}
input:hover{
    background-color: azure;
}

a {

    color: rgb(255, 243, 150);
    -webkit-text-stroke: 1px darkblue;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;

}

#button2{
    border: 2px solid white;
    border-radius: 40px;
    background-color: greenyellow;
    padding: 20px;
}

input,textarea {
    background-color: rgb(194, 237, 255);
    border: 5px solid white;
    border-radius: 10px;
    color: darkblue;
    padding:30px;
}

h1 {
    text-align: center;
    font-family: meal;
    text-align: center;
    font-size: 50px;
    font-family: meal;
    -webkit-text-stroke-width: 2px; 
    -webkit-text-stroke-color: rgb(8, 116, 8);
    color: yellowgreen;

}

.section{
    --mask: 
        linear-gradient(#000 0 0) 50%/calc(100% - 40.70px) calc(100% - 40.70px) no-repeat,
        radial-gradient(farthest-side,#000 98%,#0000) 0 0/44px 44px round;
        -webkit-mask: var(--mask);
        mask: var(--mask);

        z-index: 10;
        margin-right:20%;
        margin-left:20%;

        background-image: url("New folder/table top.jpg");
        background-repeat: no-repeat;
        background-size:cover;
        resize:both;

        padding-top: 20px;
        padding-bottom:20px;
       
}

#recipeForm{
    margin: 50px;
    margin-bottom: 80px;;
}

.page{
    background-color: azure;
    border-radius: 5px;
    padding: 30px;
}

.page2{
    background-image: url("New folder/food.png");
    background-repeat: no-repeat;
    background-size:contain;
    resize:both;
    margin-left:4%;
}

.description {
    background-color: aliceblue;
    padding: 50px;
    border-radius: 15px;
    height: 500px;
}

.breakfast-bowl{
    float: right;
    height: 30%;
    width: 25%;
}

.pasta-lunch {
    height: 5%;
    width: 20%;
    position: relative;
    left: 65%;
    margin-top: 24%;
}

.dinner-meal {
    height: 30%;
    width: 20%;
    position: relative;
    float: right;
    margin-top: 47%;
    left: 27%;
}

footer {
    text-align: center;
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    color: black;
    font-style: italic;
}

#sdescription{
    width: 500px;
    height: 100px;
}

#keRequirements{
  width: 500px;
  height: 100px;
}

#ingredients{
  width: 500px;
  height: 100px;
}

#procedure{
  width: 500px;
  height: 100px;
}

label,p{
    font-size: 25px;
}

#bfastCategory{
    font-size: 17px;
}
