
@font-face {
    font-family: video game;
    src: url("gameplay/Gameplay.ttf");
  }

/* font for the "breakfast meal
*/
@font-face {
    font-family: meal;
    src: url("arial-rounded-mt-std-bold/Arial Rounded MT Std Bold.otf");
  }
  

body{
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
    background-image: url("New folder/yellow2.jpg");
}

/* common text
*/
*{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.navigation {

    background-color:#C8E5F2;
    padding: 2%;
    margin: 0;
    text-align: center;
    
}

button {

    border: 5px solid darkblue;
    background-color: rgb(194, 237, 255);
    color: rgb(255, 243, 150);
    -webkit-text-stroke: 1px darkblue;
    padding: 14px 28px;
    font-size: 20px;
    font-weight: 900;
    border-radius: 10px;

}

a {

    color: rgb(255, 243, 150);
    -webkit-text-stroke: 1px darkblue;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;

}

input {

    background-color: rgb(194, 237, 255);
    border: 5px solid darkblue;
    border-radius: 10px;
    color: darkblue;

}

input {
    background-color: rgb(194, 237, 255);
    border: 5px solid darkblue;
    border-radius: 10px;
    color: darkblue;
}

h1 {
    text-align: center;
    font-family: meal;
    background-color: aliceblue;
    padding: 30px;
    border-radius: 15px;
}

.description {
    background-color: aliceblue;
    padding: 50px;
    border-radius: 15px;
    height: 500px;
}

.breakfast-bowl{
    float: right;
    height: 175x;
    width: 200px;
}

.pasta-lunch {
    height: 150px;
    width: 210px;
    position: relative;
    left: 770px;
    top: 180px;
}

.dinner-meal {
    height: 30%;
    position: relative;
    float: right;
    top: 330px;
    left: 200px;
}

footer {
    text-align: center;
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    color: black;
    font-style: italic;
}

#sdescription{
    width: 500px;
    height: 100px;
}

#keRequirements{
  width: 500px;
  height: 300px;;
}

#ingredients{
  width: 500px;
  height: 300px;;
}

#procedure{
  width: 500px;
  height: 300px;
}

