#sdescription{
      width: 500px;
      height: 100px;
}

#keRequirements{
    width: 500px;
    height: 300px;;
}

#ingredients{
    width: 500px;
    height: 300px;;
}

#procedure{
    width: 500px;
    height: 300px;
}

