@font-face {
    font-family: video game;
    src: url("gameplay/Gameplay.ttf");
  }

@font-face {
    font-family: meal;
    src: url("arial-rounded-mt-std-bold/Arial Rounded MT Std Bold.otf");
  }

body{
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
    background-image: url("New folder/yellow2.jpg");
}

h1 {
    text-align: center;
    font-size: 150px;
    font-family: meal;
    -webkit-text-stroke-width: 5px; 
    -webkit-text-stroke-color: rgb(8, 116, 8);
    color: yellowgreen;
}

h3 {
    text-align: center; 
    font-family: video game;
    letter-spacing: 5px;
    font-size: 40px;
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: rgb(249, 242, 242);
    margin-top:-90px;
}

.mama{
    position:absolute ;
    margin-top: 50px;
    margin-left: 1%;
    text-shadow: 8px 8px 15px rgb(41, 40, 40);

}

.introText{
    background-color: azure;
    margin-left: 25%;
    margin-right: 30%;
    padding:10px;
    border-radius: 5px;
    position: absolute;
    margin-top: 720px;
}
.gameboy{
    width:100%;
    height:100%;
    z-index: -1 ;
}


*{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}


.footer p {
    text-align: center;
    font-size: 15px;
}

.navigation {
    background-color:#C8E5F2;
    padding: 2%;
    margin: 0;
    text-align: center;
    border-radius: 45px;
}

button {
    border: 5px solid darkblue;
    background-color: rgb(194, 237, 255);
    color: rgb(255, 243, 150);
    -webkit-text-stroke: 1px darkblue;
    padding: 14px 28px;
    font-size: 20px;
    font-weight: 900;
    border-radius: 45px;
}

button:hover {
    background-color: azure;
}
input:hover{
    background-color: azure;
}

.navigation a {

    color: rgb(255, 243, 150);
    -webkit-text-stroke: 1px darkblue;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;

}

input {

    background-color: rgb(194, 237, 255);
    border: 5px solid darkblue;
    border-radius: 45px;
    color: darkblue;

}

a {
    text-decoration: underline;
    text-decoration-color: blue;
    color: blue;
}