/* recepie list
*/
@font-face {
    font-family: video game;
    src: url("gameplay/Gameplay.ttf");
  }

/* font for the "breakfast meal
*/
@font-face {
    font-family: meal;
    src: url("arial-rounded-mt-std-bold/Arial Rounded MT Std Bold.otf");
  }
  

body{
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
    background-image: url("New folder/yellow2.jpg");
}

/* common text
*/
*{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

[class *="recipe"] {
    background-color: azure;
    padding: 3%;
    border-radius: 10px;
    z-index:-10;
    text-align: center;
    top: -50px;
    padding-right: 10%;
    padding-left: 10%;
}

#category{
    text-align: center; 
    letter-spacing: 5px;
    font-size: 20px;
    
}

h1{
    text-align: center;
    font-size: 40px;
    font-family: meal;
    -webkit-text-stroke-width: 2px; 
    -webkit-text-stroke-color: rgb(8, 116, 8);
    color: yellowgreen;
}

#keRequirements{
    background: pink;
    border-radius: 5px;
    text-align: center; 
    letter-spacing: 5px;
    font-size: 20px;
}

#ingredients{
    background: pink;
    border-radius: 5px;
    text-align: center; 
    letter-spacing: 5px;
    font-size: 20px;
}

#procedure{
    background: pink;
    border-radius: 5px;
    text-align: center; 
    letter-spacing: 5px;
    font-size: 20px;
}

#description{
    text-align: center; 
    letter-spacing: 5px;
    font-size: 20px;
    
}

.navigation {
    background-color:#C8E5F2;
    padding: 2%;
    margin: 0;
    text-align: center;
    border-radius: 10px;
}

button {
    border: 2px solid darkblue;
    background-color: rgb(194, 237, 255);
    color: rgb(255, 243, 150);
    -webkit-text-stroke: 1px darkblue;
    padding: 14px 28px;
    font-size: 20px;
    font-weight: 900;
    border-radius: 10px;
}
button:hover {
    background-color: azure;
}
input:hover{
    background-color: azure;
}

input {
    background-color: rgb(194, 237, 255);
    border: 5px solid darkblue;
    border-radius: 45px;
    color: darkblue;
}

.navigation a {

    color: rgb(255, 243, 150);
    -webkit-text-stroke: 1px darkblue;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;

}

a {
    text-decoration: underline;
    text-decoration-color: blue;
    color: blue;
}

.footer p {

    text-align: center;
    font-size: 15px;
    background-color: azure;
    padding: 2%;
    width: 96%;
}

.recipeInfo {
    background-color: whitesmoke;
    margin-top: 5%;
}
